[project]
	description = Find installed packages that are not downloadable via configured APT sources.
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Jan Hilberath (yantarou)
[access "refs/for/refs/*"]
	read = group user/Jan Hilberath (yantarou)
	push = group user/Jan Hilberath (yantarou)
	label-Code-Review = -2..+2 group user/Jan Hilberath (yantarou)
	label-Verified = -1..+1 group user/Jan Hilberath (yantarou)
	rebase = group user/Jan Hilberath (yantarou)
	removeReviewer = group user/Jan Hilberath (yantarou)
	submit = group user/Jan Hilberath (yantarou)
[access "refs/heads/*"]
	read = group user/Jan Hilberath (yantarou)
	create = group user/Jan Hilberath (yantarou)
	push = +force group user/Jan Hilberath (yantarou)
	pushMerge = group user/Jan Hilberath (yantarou)
[access "refs/tags/*"]
	push = +force group user/Jan Hilberath (yantarou)
	pushTag = group user/Jan Hilberath (yantarou)
	pushSignedTag = group user/Jan Hilberath (yantarou)
